version: '3.8'

services:
  db:
    image: postgres:15-alpine
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kirthi -d finance_tracker"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: kirthi
      POSTGRES_PASSWORD: password
      POSTGRES_DB: finance_tracker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
   
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: kirthi
      DB_PASSWORD: password
      DB_NAME: finance_tracker
      JWT_SECRET: your_super_secret_random_key_123

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data: